[data-emoji="🔥"] {
    background-image: linear-gradient(to right, #38ef7d, #11998e);
}
[data-emoji="🙌"] {
    background-color: #BDFF6E;
    background-image: linear-gradient(180deg, #FFF 0%, #95ACFF 35%, #7FBC12 100%);
}
[data-emoji="💯"] {
    background-color: #613EC0;
    background-image: linear-gradient(43deg, #454545 0%, #5924CD 46%, #F4D6FF 100%);
}
[data-emoji="😱"] {
    background-color: #2a54fa;
}
[data-emoji="🍪"] {
    background-image: radial-gradient(circle calc(var(--bubble-size)*1.5) at 30% 30%, #be8631, #a26822 14.29%, #70471b 45%);
}
[data-emoji="💖"] {
    background-color: #ed94e7;
}
[data-emoji="🍕"] {
    background-color: #f06d49;
}
[data-emoji="🎁"] {
    background-color: #077a65;
}
[data-emoji="💀"] {
    background-color: #817f7f;
}
[data-emoji="✨"] {
    background-image: radial-gradient(circle calc(var(--bubble-size)*1.5) at 30% 30%, #2559de 0%, #2559de 8%, #04041d 45%);
}
[data-emoji="🎉"] {
    background-color: #f6b424;
}
[data-emoji="👀"] {
    background-color: #edcd4e;
}
[data-emoji="🚀"] {
    background-image: linear-gradient(180deg, #084062 10%, #59dcfa 100%);
}
[data-emoji="😍"] {
    background-color: #952a2a;
}
[data-emoji="💎"] {
    background-image: linear-gradient(110deg, #00e7ff 2%, #ff9a8b 40%, #ffc3a0 58%, #ffd700 98%);
}
[data-emoji="⭐"] {
    background-image: linear-gradient(160deg, #12608D 0%, #22CDBA 40%);
    text-shadow: 0 0 2px #000;
}
[data-emoji="🫐"] {
    background-image: linear-gradient(90deg, #FFFDFA 0%, #FF6000 90%);
    text-shadow: 0 0 3px #fff;
}
[data-emoji="🍿"] {
    background-image: linear-gradient(to right, #a8e063, #56ab2f);
    text-shadow: 0 0 2px #000;
}
[data-emoji="🥤"] {
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
    text-shadow: 0 0 5px #fff;
}
[data-emoji="🌮"] {
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    text-shadow: 0 0 3px #000;
}
[data-emoji="🥞"] {
    background-image: linear-gradient(to right, #F3F9A7, #CAC531);
    text-shadow: 0 0 3px #000;
}
[data-emoji="🐥"] {
    background-image: linear-gradient(to right, #4ecdff, #507cff);
}
[data-emoji="🎸"] {
    background-image: linear-gradient(to right, #1e9600 5%, #fff200 45%, #fff200 55%, #ff0000 95%);
}
[data-emoji="💃"] {
    background-image: linear-gradient(to right, #34345a, #3c2af5, #0f0c29);
    text-shadow: 0 0 3px #fff;
}