[data-emoji="🔥"] {
    background-color: #7ae086;
}
[data-emoji="🙌"] {
    background-color: #BDFF6E;
    background-image: linear-gradient(180deg, #FFF 0%, #95ACFF 35%, #7FBC12 100%);
}
[data-emoji="💯"] {
    background-color: #613EC0;
    background-image: linear-gradient(43deg, #454545 0%, #5924CD 46%, #F4D6FF 100%);
}
[data-emoji="😱"] {
    background-color: #2a54fa;
}
[data-emoji="🍪"] {
    background-color: #65390a;
}
[data-emoji="💖"] {
    background-color: #ed94e7;
}
[data-emoji="🍕"] {
    background-color: #f06d49;
}
[data-emoji="🎁"] {
    background-color: #077a65;
}
[data-emoji="💀"] {
    background-color: #817f7f;
}
[data-emoji="✨"] {
    background-color: #164169;
}
[data-emoji="🎉"] {
    background-color: #f6b424;
}
[data-emoji="👀"] {
    background-color: #edcd4e;
}
[data-emoji="🚀"] {
    background-color: #87e3ff;
}
[data-emoji="😍"] {
    background-color: #952a2a;
}
[data-emoji="💎"] {
    background-color: #cad4f6;
}