html, body {
    font-size: 16px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    -webkit-text-size-adjust: 100%;
}

html, body, * {
    -webkit-user-select: none; /* Safari */
    user-select: none;
    touch-action: none;
}

html, body, input, button {
    font-family: "Gabarito", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1;
}

/* em {
    font-style: normal;
    font-size: 1.2em;
} */

emoji-game {
    --border-width: .4rem;
    --border-radius: 1rem;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "status"
        "buckets"
        "controls";
    justify-items: center;
}

emoji-bucket-manager {
    --bubble-gap: .18rem;
    --bucket-gap: .16rem;

    --max-buckets-per-row: round(up, var(--bucket-count) / 2, 1);

    --outer-margin: calc(8rem / var(--max-buckets-per-row));
    --border-width: calc(1.2rem / var(--max-buckets-per-row));

    --bucket-container-width: calc(100vw - (2 * var(--outer-margin)));
    --bucket-outer-width: calc(var(--bucket-container-width) / var(--max-buckets-per-row));
    --bucket-width: calc(var(--bucket-outer-width) - (2 * var(--border-width)) - (2 * var(--bucket-gap)));
    --bubble-size: calc(var(--bucket-width) - (2 * var(--bubble-gap)));
    
    width: var(--bucket-container-width);

    grid-area: buckets;
    align-content: center;
    text-align: center;
}

@media screen and (orientation:landscape) {
    emoji-bucket-manager {
        --bucket-container-width: calc(48vw - 4rem);
    }
}

emoji-game-bucket {
    display: inline-flex;
    flex-direction: column;
    vertical-align: bottom;
    justify-content: end;
    align-items: center;

    margin: var(--bucket-gap);
    width: var(--bucket-width);
    height: calc((var(--bucket-height) * var(--bubble-size)) + ((var(--bucket-height) - 1) * var(--bubble-gap)));

    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(62deg, RGBA(0, 128, 255, 0.35) 0%, RGBA(224, 195, 252, 0.35) 70%);
    border: var(--border-width) solid rgba(58, 58, 58, 0.46);
    border-top: 1px solid rgba(0,0,0,0.05);
    transition: transform 100ms ease-in-out;

    border-bottom-right-radius: 50% 12%;
    border-bottom-left-radius: 50% 12%;
    padding-top: var(--bubble-gap);
    padding-bottom: calc(var(--bubble-gap) / 2);

    &:hover {
        transform: scale(1.1);
        border-color: rgba(46, 147, 255, 0.69);
        background-color: rgba(3, 69, 171, 0.42);
    }

    &.success {
        border-color: rgba(120, 201, 13, 0.93);
        background-color: rgba(131, 194, 36, 0.174);
    }
}

emoji-game-bubble {

    width: var(--bubble-size);
    height: var(--bubble-size);

    position: relative;
    overflow: hidden;
    background-color: #303030;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    margin: 0 var(--bubble-gap) var(--bubble-gap);
    transition: transform var(--transition-duration) ease-in-out;

    &.selected {
        transform: scale(1.6) rotate(-20deg);
        box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    &::before {
        display: inline-block;
        content: attr(data-emoji);
        font-size: calc(var(--bubble-size) * 1.05);
        position: relative;
        top: .05em;
        font-size-adjust: 0.60;
        opacity: .9;
    }
}

confetti-shower {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

emoji-game-controls {
    grid-area: controls;

    text-align: center;
    padding: 0 0 2.5rem;
    z-index: 100;

    display: flex;
    gap: 1rem;
    justify-content: center;
}

emoji-game-config {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    align-content: center;
    text-align: center;
    transform: scale(1);
    opacity: 1;
    transition: transform 200ms ease-in-out,
        opacity 150ms ease-in-out;
    
    .config-wrap {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: var(--border-width) solid;
        border-radius: var(--border-radius);
        padding: 2rem 3rem 1rem;
        gap: 1.5rem;
        font-size: 2rem;
        background-color: #FBDA61;
        background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
        border-color: #e7e7e7;
        box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
        color: rgba(255, 255, 255, 0.95);
        text-shadow: 0 0 .1rem #000;
    
        label {
            width: 100%;

            input {
                display: block;
            }
        }
    }

    &.hide {
        transform: scale(0);
        opacity: 0;
    }
}

button {
    position: relative;
    color: #fff;
    background-color: #b95de2;
    padding: 1.2rem .75rem;
    font-size: 1.15rem;
    border-radius: 1.3rem;
    border: var(--border-width) solid #8844a7;
    border-top-width: 0;
    border-left-width: 0;

    &:active {
        transform: scale(0.96);
    }
    &:hover {
        background-color: #b43ee9;
    }
    &:disabled {
        color: #4e4e4e;
        background-color: #9c9c9c;
        border-color: #878787;
        text-decoration: line-through;
    }
}

.range-label {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(2, 1fr);

    .range-text {
        grid-column: 1 / span 2;
    }
    .range-display {
        align-content: center;
        padding-left: 1ex;
        transform: rotate(12deg) scale(1.5);
    }
}

.checkbox-label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5rem;
}

@keyframes x-shake {
    0% { transform: translateX(0) }
    17% { transform: translateX(5px) }
    34% { transform: translateX(0) }
    50% { transform: translateX(-5px) }
    67% { transform: translateX(0) }
    83% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.shake {
    animation-name: x-shake;
    animation-duration: 200ms;
    animation-iteration-count: 3;
}

emoji-game-status-bar {
    width: 100vw;
    text-align: center;

    font-size: 1.15rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: 0 0 .1rem #000;

    padding-top: .3rem;

    .status-item {
        display: inline-block;
        margin: 0 .2rem;

        transform: rotate(-2.5deg);
        padding: .3rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: .3rem;
    }
}